body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: calc(100% - 40px);
  min-width: 280px;
  height: 50px;
  background: #f4f4f4;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: visible;
  text-align: left;
  z-index: 3;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 155px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  left: 0;
  top: 100%;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#map {
  z-index: 1;
}

.topnav {
  display: flex;
  background-color: #333;
  align-items: center;
  white-space: nowrap;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 0 12px;
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.topnav a img {
  display: block;
  height: 40px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

#main_body {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 870px;
  height: 650px;
  background: #f4f4f4;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  z-index: 2;
}

#logo_azh_airline {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-150%);
  width: 250px;
  height: 250px;
  z-index: 3;
}

#description_1 {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-16%);
  width: 435px;
  height: 250px;
  background: #f4f4f4;
  box-sizing: border-box;
  text-align: justify;
  text-justify: inter-word;
  z-index: 3;
}

#description_2 {
  position: fixed;
  top: 310px;
  left: 50%;
  transform: translateX(-150%);
  width: 250px;
  height: 250px;
  background: #f4f4f4;
  box-sizing: border-box;
  text-align: justify;
  text-justify: inter-word;
  z-index: 3;
}

#infographie_azh {
  position: fixed;
  top: 290px;
  left: 50%;
  transform: translateX(-15%);
  width: 440px;
  height: auto;
  z-index: 3;
}
